@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #223843;
    --foreground: #eff1f3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:focus,
a:focus,
input:focus {
  outline: 2px dashed #00f;
  outline-offset: 2px;
}
